<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <h1><%= title %></h1>
    <h2><img src='<%= author_img %>' alt='<%= author_name %>'></h2>
    <h2><%= author_name %></h2>
    <h2><%= num_of_days %>天的快乐之旅</h2>
  </head>

  <body>
    <% theseDays.forEach(function(oneDay){ %>
      
    <% }) %> 
  </body>
</html>
